body {
    background-color: gray;
}

/*header*/
header {
    background-color:white;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    justify-content: center;
}

header img {
    grid-column: 2;
    border: solid #03045E 2px;
    border-radius: 300px;
    max-width: 100px;
    height: auto;
    margin: 5px;
}

header h1 {
    grid-column: 4/6; 
    text-align: center; 
    margin: 0; 
    color: #03045E;
    border: 2px solid #03045E ;
    border-radius: 10px;
    background-color: #90E0EF;
    padding: 5px;
}
/*header*/

/*nav*/
nav {
    background-color: #90E0EF;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    margin-bottom: 1rem;
}

nav ul{ 
    list-style: none;
    padding: 0;
}

nav li{
    display: inline-block;
}

a{
    text-decoration: none;
    padding: 8px;
    font-size: larger;
    color: #03045E;
    border: 2px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
}

nav a:hover{
    border: 2px solid white;
    background-color: rgb(255, 214, 52);
    color: white;
    border-radius: 10px;
}
/*nav*/

/*main HOME*/
main {
    margin-top: -1rem;
    background-color: white;
    width: 100%;
    height: auto;
}

.cta{
    text-align: center;
}
.cta h2, p{
    padding: 8px;
    background-color: #90E0EF;
    color: #03045E;
    border: 2px solid white;
}

.cta p{
    margin-top: -20px;
    font-size: large;
    margin-bottom: -1px;
}
.cta a:hover{
    background-color: #90E0EF;
    color: white;
}

.hero{
    width: 100%;
    position: relative;
}
 .hero img {
    width: 100%;
}

.home-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; 
    max-width: 600px; 
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 10px; 
    display: flex;
    justify-content: space-between; 
}

#home-summary, #weather {
    flex: 1; 
    margin: 0 10px; 
    text-align: center;
}


#home-summary #weather, p{
    color: black;
}


#home-summary, #weather{
    background-color: #90E0EF;
    padding: 5px;
}
/*main HOME*/

/* main RENTALS */
#rental-header{
    text-align: center;
    background-color: lightgray;
    color: black;
    border: 4px solid #90E0EF;
}

.ren-lev1, .ren-lev2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    text-align: center;
}

div {
    padding: 5px;
    border: 4px solid #90E0EF;
    margin: 1rem;
    max-width: 100%; 
    overflow: hidden; 
}

.ren-lev1 div img, .ren-lev2 div img {
    max-width: 100%;
    height: 200px; 
    width: auto; 
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: center;
    border: 2px solid black;
    border-right: 2px solid black;
}

th {
    background-color: #f2f2f2;
}
/* main RENTALS */

/* main reservations*/

/* main reservations*/

/* main CONTACT*/
.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #90E0EF;
    height: auto;
}

.section-title {
    text-align: center;
    margin-bottom: 20px;
}

.contact-section {
    display: flex;
}

.contact-section > div {
    flex: 1;
    padding: 0 10px;
}

.map-container {
    margin-top: 20px;
}

@media screen and (max-width: 900px) {
    .contact-section {
        flex-direction: column;
    }
}
/* main CONTACT*/

/*footer*/
footer {
    background-color: white;
    text-align: center;
    font-size: large;
    border: 5px solid #90E0EF;
}
footer p {
    background-color: white;
    padding: 1px;
}

footer img {
    max-width: 25px;
    
}
/*footer*/