body {
    background-color: gray;
}

/**/
header {
    background-color: aquamarine;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    justify-content: center;
}

header img {
    grid-column: 2;
    border: solid black 2px;
    border-radius: 300px;
    max-width: 100px;
    height: auto;
    margin: 5px;
}

header h1 {
    grid-column: 4/6; 
    text-align: center; 
    margin: 0; 
}
/**/

/**/
nav {
    background-color: blueviolet;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    color: aliceblue;
}

nav ul{ /* set everything to zero so you can make it how you like*/
    list-style: none;
    padding: 0;
}

nav li{
    display: inline-block;
    border: 2px solid #415A77;
    margin: 10px;
    background-color: #415A77;
}

a{
    text-decoration: none;
    padding: 10px;
    color: white;
}

nav li:hover a:hover{
    background-color: white;
    color: #415A77;
}



/**/

/**/
main {
    background-color: green;
}
/**/

/**/
footer {
    background-color: coral;
}
/**/