body {
    background-color: gray;
}

/*header*/
header {
    background-color:white;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    justify-content: center;
}

header img {
    grid-column: 2;
    border: solid #03045E 2px;
    border-radius: 300px;
    max-width: 100px;
    height: auto;
    margin: 5px;
}

header h1 {
    grid-column: 4/6; 
    text-align: center; 
    margin: 0; 
    color: #03045E;
    border: 2px solid #03045E ;
    border-radius: 10px;
    background-color: #90E0EF;
    padding: 5px;
}
/*header*/

/*nav*/
nav {
    background-color: #90E0EF;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    margin-bottom: 1rem;
}

nav ul{ 
    list-style: none;
    padding: 0;
}

nav li{
    display: inline-block;
}

a{
    text-decoration: none;
    padding: 8px;
    font-size: larger;
    color: #03045E;
    border: 2px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
}

nav a:hover{
    border: 2px solid white;
    background-color: rgb(255, 214, 52);
    color: white;
    border-radius: 10px;
}
/*nav*/

/*main*/
main {
    margin-top: -1rem;
    background-color: white;
    width: 100%;
    height: auto;
}

 .hero img {
    width: 100%;
}


.home-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    padding: 10px;
}

#home-summary, #weather{
    background-color: #90E0EF;
    gap: 5px;
    padding: 5px;
}
/*main*/

/*footer*/
footer {
    background-color: white;
    text-align: center;
    font-size: large;
    border: 5px solid #90E0EF;
}
footer p {
    background-color: white;
    padding: 1px;
}

footer img {
    max-width: 25px;
    
}
/*footer*/