
body {
    display: grid;
    place-items: center;
    grid-template-rows: auto 1fr auto;

    background-color: #E0E1DD;
}

/*header*/
header {
    background-color: #415A77;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h1{
    color: #E0E1DD;
}
/*header*/

/*nav*/
nav{
    max-width: 400px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}

#menu {
    margin: 5px;
    background: none;
    color: #000;
    position: absolute;
}
#menu::before {
    content: "☰";
}
#menu.open::before {
    content: "✖️";
}
.open li {
    display: block;
}

nav ul{ /* set everything to zero so you can make it how you like*/
    list-style: none;
    padding: 0;
}

nav li{
    display: inline-block;
    border: 2px solid #415A77;
    margin: 10px;
    background-color: #415A77;
    display: none;
}

a{
    text-decoration: none;
    padding: 10px;
    color: #E0E1DD;
}

nav li:hover a:hover{
    background-color: #E0E1DD;
    color: #415A77;
}

/*nav*/

/*hero-image*/
.hero-image{
    display: grid;
    place-items: center;
    max-width: 400px;
    width: 100%;
}

.hero-image img {
    width: 100%;
    height: auto;
}

.hero-image h2 {
    position: absolute;
    padding: 8px;
    background-color: #0D1B2A;
    color: #E0E1DD;
    border: 2px solid #E0E1DD;
}

.hero-image h2:hover {
    background-color: #E0E1DD;
    color: #0D1B2A;
    border: 2px solid #0D1B2A;
}
/*hero-image*/

/*sec1*/
.sec1 {
    max-width: 400px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
}

.current-events, .weather{
    margin: 5px;
    padding: 5px;
    background-color: #415A77;
    color: #E0E1DD;
    border: 2px solid #0D1B2A;
}

.current-events h3{
    text-align: center;
}

.weather {
    text-align: center;
}
/*sec1*/

/*spotlights*/
.spotlights{
    max-width: 400px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid #0D1B2A;
}

.c1{
    background-color: #415A77;
    color: #E0E1DD;
    margin: 5px;
}

.c2{
    background-color: #415A77;
    color: #E0E1DD;
    margin: 5px;
}

.c3{
    background-color: #415A77;
    color: #E0E1DD;
    margin: 5px;
}
/*spotlights*/

/*footer*/
footer {
    max-width: 400px;
    width: 100%;
    text-align: center;
    background-color: #0D1B2A;
    color: #E0E1DD;
}
/*footer*/